header {
    background-color: #003541;
    height: 245px;
    width: 100%;
    background-image: url(Picture2.svg);
    background-size: 230px;
    background-position: left;
    background-repeat: no-repeat;
}
body {
    margin: 0;
    background-color: grey;
    
}
footer {
    background-color: #003541;
    height: 245px;
    width: 100%;
}
h1 {
    font-size: 15;
    font-family: Arial;
    display: inline-block;
    margin: 20px 0 0 470px;
    color: white;
}
fieldset {
    height: 400px;
    width: 50%;
    margin: 20px 0 20px 350px;
    display: grid;
    justify-content: center;

}

.errorF {
    display: none;
}

.errorL {
    display: none;
}
.erroremail {
    display: none;
}
.errorContactInfo {
    display: none;
}
.errorsubmit{
    display: none;
}
 
onclick even for help button ;

* on lable 
pusudo calsses :invalid;