* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(214, 214, 213, 0.933);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    margin-bottom: 1em;
    margin-top: 1em;

}
h1 {
    display: none;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.logo {
    width: 10em;
    height: 10em;
    transform: rotate(90deg);
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

ul>li {
    padding: 0.5em;
}

li {
    cursor: pointer;
}

ul li:nth-child(5) {
    cursor: unset;
}

li i {
    padding-right: 0.5em;
    cursor: pointer;
}
video{
    display: none;
}
#showVid:hover + video {
    cursor: pointer;
    display: block;
    position: absolute;
}



.brand span {
    color: rgba(99, 75, 102, 0.94);
}

form>p {
    padding-bottom: 1em;
    font-size: 1.2em;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(99, 75, 102, 0.94);
}

.wrapper>* {
    padding: 1em;
}

.company-info {
    background-color: rgba(39, 48, 67, 0.94);
    color: white;

}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1em 0;
}

.contact {
    background-color: rgba(63, 136, 197, 0.782);
    color: white;
}

label {
    color: transparent;
    padding: 1em 1em 0.5em 0.2em;
}
#Yes {
    color: white;
    padding: 0 0.5em 0 1.9em;

}
#No {
    color: white;
    padding: 0 0.5em 0 1.9em;

}
input:required {
    border: white solid 1px;
    border-radius: 10px;
}
input {
    cursor: pointer;
}
.input-icons {
     position: relative;
     
}
.input-icons i {
    position: absolute;
    right: 1em;
    top: 1.2em;
    cursor: pointer;
}
#email-error {
    background-color: red;
   
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
  }




/*FORM STYLES*/

.contact form label {
    display: block;
}

.required {
    color: red;
    font-size: 0.8em;

}


.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1/3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
}

.contact form button {
    background: rgba(39, 48, 67, 0.94);
    border: 0;
    text-transform: uppercase;
    color: white;
}

.contact form button:hover,
.contact form button:focus {
    background: cyan;
    color: whitesmoke;
    outline: 0;
    transition: background-color 1s ease-out;
}

legend {
    font-size: 1.5em;
    padding-bottom: 1.5em;
}

legend span {
    color: rgb(16, 56, 56);
}

fieldset {
    border: none;
}

input {
    background-color: transparent;
    border-width: 0 0 2px 0;

}

textarea:focus,
input:focus{
    outline: none;
    background-color: rgba(39, 48, 67, 0.94);
    transition: ease-in 0.4s;
    transform: scale(1.06);
    transition: ease-out 0.4s;
}


::placeholder {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input,
select,
textarea {
    color: white;
    font-size: 1em;
    letter-spacing: 1px;

}
.last {
    display: none;
}

.full {
    padding-top: 2em;
}
.contact form label {
    display: flex;
    justify-content: flex-end;

}















/* desktop */
@media (min-width:700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        margin-bottom: 1em;
        margin-top: 1em;
    
    }

    h1 {
        padding: 1em 0 0 1em;
        display: block;
    }

    form {
        padding: 2em;
    }

    label {
        color: white;

    }

    .wrapper>* {
        padding: 2em;
    }

    .company-info h3,
    .company-info ul,
    .brand {
        text-align: left;
    }

    #full {
        display: block;
    }

    .logo {
        width: 15em;
        height: 15em;
    }

    .contact form label {
        display: flex;
        justify-content: space-between;

    }

    textarea:focus,
    input:focus {
        outline: none;
        border-bottom: white solid 2px;
        transition: ease-in-out 0.5s;
        transform: scale(1.1);
      
    }
    h4 {
        padding-right: 1.2em;
    }
    
    .last {
        display: flex;
        flex-direction: row;
        padding-bottom: 1em;
    }
    
    .last>input {
        display: none;
    }
    
    .radio__label1 {
        padding-right: 1em;
    }
    
    .last {
        display: flex;
        height: 100px;
        padding-top: 25px;
    }
    
    [type="radio"]+label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-block;
    }
    
    [type="radio"]+label::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 18px;
        height: 18px;
        background-color: white;
        border-radius: 100%;
        border: #aaa solid 2px;
    }
    
    [type="radio"]:checked+label::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 4px;
        width: 14px;
        height: 14px;
        background: rgba(63, 136, 197, 0.782);
        border-radius: 100%;
    
    }



    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: transparent;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: transparent;
    }

    textarea::-webkit-input-placeholder {
        /* WebKit browsers */
        color: transparent;
    }

    textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }

    textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: transparent;
    }

    textarea:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: transparent;
    }

    textarea::placeholder {
        color: transparent;
    }

}